.one li{
    display: inline;
    display: flex;
    /* flex-direction: row; */
}
a{
    color: gray;
}
.header0{
    display: inline;
    display: flex;
    width: 100%;
    padding: 1px;
    background-color: skyblue;
    /* margin-bottom: 90px; */
    height: 40px;
    
}
.one{
    display: inline;
}
.two{
    margin-left: 1200px;
    padding-top: 17px;
}