
  .log-head{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: auto;
   
  }
  .log-head h4{
    border-bottom: 1px solid rgb(243, 236, 224);
    font-size: 24px;
    font-family: inherit;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .log-body{
    display: flex;
    justify-content: center;
  }
  
  .log-body-cntnt{
    padding: 6px;
    margin-top: 10px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(236, 234, 234);
    background-color: black;
  }
  .log-icon{
    height: 12px;
    color: white;
  }
  .log-body-cntnt input{
     border: none;
     margin-left: 3px;
    outline: none;
    color: white;
    background-color: black;

  
  }
  .log-frgt{
    margin-left: 140px;
  }
  .log-btn{
     border-radius: 5px;
     margin-top: 10px;
     height: 35px;
     width: 260px;
     border: 1px solid rgb(236, 234, 234);
     background-color: rgb(220, 156, 72);
     cursor: pointer;
  }
  .log-btn:hover{
    background-color: rgb(129, 127, 127);
  }
  .log-btn button{
    border: none;
    background: none;
    margin-left: 105px;
    margin-top: 8px;
    color: white;
  }
  .log-para{
    margin-top: 80px;
    margin-left: 20px;
  }
  .log-link{
    text-decoration: none;
  }
  .end-link{
    text-decoration: none;
    color:rgb(220, 156, 72) ;
  }
  .end-para-two{
    margin-left: 20px;
    font-size: 14px;
  }
  .ico-goo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
  }
  .google{
    height: 40px;
    width: 40px;
    color: black;
  }
  .google:hover{
    color:rgb(220, 156, 72) ;

  }
 