.new-cln{
    display: flex;
}
.new-cln h3{
    text-transform: uppercase; 
    font-size: 17px; 
    margin-left: 30px;
} 

.new-btn{
    display: flex;
    justify-content: flex-end;
    margin-left: 1050px;
    height: 20px;
    border: 1px solid  rgb(230, 8, 156);
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
}
.new-btn:hover{
    border:1px solid rgb(167, 167, 167);
}
.new-link{
    color:  rgb(230, 8, 156);
    background-color: white;
    text-decoration: none;
}
.new-link:hover{
    color: rgb(167, 167, 167)
}

.new-cntnt{
    display: flex;
}