.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.prof{
    border: 1px solid gray;
    height:200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.dis-one{
    border-radius: 10px;
    border: 1px solid gray;
    height: 30px;
    width: 200px;
    padding: 0px 5px;
    margin: 10px 8px;
}
.dis-two{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    background-color: #0b6369;
    border: 1px solid gray;
    color: gray;

}
 