.navbar{
    display: flex;
    width: 100%;
    background: white;
    justify-content: space-between;
    height: 49px;
    position: fixed;
    z-index: 50;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(214, 103, 196, 0.1); /* Example shadow, adjust as needed */
    background-color: #ffffff; /* Example background color, adjust as needed */
    transition: all 0.3s ease-in-out;
}
.nav-logo{
    margin-top: 9px;
    margin-left: 40px;
}
.nav-logo-one{
    font-size: 29px;
    color: white;
    background-color: rgb(230, 8, 156);
    border-radius: 5px;
    font-weight: 600;
}
.nav-logo-two{
    font-size: 26px;
    color: rgb(230, 8, 156);
    border-radius: 2px;   
}

.navbar-center{
    display: flex;
    margin-bottom: 10px;
}
.menu{
    display: flex;   
}
.menu li{
    display: inline;
    margin: 0px 12px;
}
.menu a:hover{
    background: rgb(228, 225, 225);
    border-radius: 5px;
}
/* .p-2{
    background-color:  whitesmoke;
    border-radius: 5px;
}
.p-2 li{
    display: block;
    justify-content: space-between;
    width: 60px;
} */

.p-2{
    margin-top: 0.75rem;
    z-index: 1;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 0.875rem;
    position: absolute;
    background-color: #f9fafb; /* Change the background color as needed */
    border-radius: 0.375rem; /* You may adjust the border-radius as needed */
    width: 3rem; 
    border-radius: 0.375rem; 
    width: 13rem; 
}
.p-2 li:hover{
    color: rgb(230, 8, 156);
    cursor: pointer;
}
/* .sum:hover{
    background:  rgb(228, 225, 225);
    border-radius: 5px;
} */
.nav-search{
    margin-top: 14px;
    background-color:whitesmoke;
    height: 26px;
    width: 230px;
    
}
.nav-search input{
    width: 200px;
    border: none;
    outline: none;
    background-color:  whitesmoke;
}
.navbar-end{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
/* .navbar-bef-end{
    display: flex;
    margin-top: 15px;
} */
.nav-end-one{
    margin-right: 30px;
}
.nav-end-two{
    margin-right: 30px;

}
.nav-ico:hover{
    background-color: rgb(228, 225, 225);
    border-radius: 5px;
}

.nav-ico{
    height: 20px;
    width: 40px;
}

/* dropdown */
.nav-end-one {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white; /* Change the background color as needed */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 0.375rem; /* You may adjust the border-radius as needed */
    width: 120px; /* Change the width as needed */
    padding: 0.5rem; /* p-2 */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* shadow */
   
}

.nav-end-one:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #333; 
    border-radius: 15px;/* Change the text color as needed */
}

.dropdown-content a:hover {
    background-color: #f9fafb; /* Change the hover background color as needed */
}