.card{
    
        color: black;
        text-align: center;
        font-size: 24px;
        background-color: blanchedalmond;
  
}
.card1{
    
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
        margin-left: 20px;
        width: 300px;
        background-color: antiquewhite;
  
}

.main{
        margin: 15px;
}
