
  
  .container {
    width: 100%; /* You can adjust this to your desired width */
    max-width: 1300px; /* Maximum width for the container */
    margin-left: auto;
    margin-right: auto;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory; /* Enable scroll snapping */

  }
  .looo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    object-fit: cover;
    height: 150px;
    width: 200px;
  }
  
  .container .slider-scrollbar {
    
    height: 24px;
    width: 200px;
   

  }
  
  .slider-scrollbar .scrollbar-track {
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 46px;
    height:46px;
    cursor: grab;
    border-radius: 50%;
 
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
  }
  

  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }

  }