 .users{
    margin-top: 90px;
    width: 800px;
}
.user-head{
    letter-spacing: 2px;
    font-size: 29px;
    font-style: inherit;
}
.user-head-sub{
    color:  rgb(230, 8, 156);
}
.tab-hed{
    font-size: 20px;
    letter-spacing: 1px;
    height: 50px;
}
 
.use-body-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid whitesmoke;
}

.use-body-two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    border: 1px solid whitesmoke;
    color: rgb(87, 86, 86);


}
.tab-body{
    font-size: 18px;
    width: 100px;
} 
.tab-body-btn{
    margin-left: 40px;
    border: none;
    background: none;
    font-size: 19px;
    color: rgb(87, 86, 86);
    
}
.tab-body-btn:hover{
 color: red;

}
.use-body-two:nth-child(odd){
    background-color: whitesmoke;
}
/* .tab-body-img{
    background: #cf2929;
    height: 40px;
    width: 40px;
    border-radius: 50px;
} */
.tab-img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    object-fit: cover;
    margin-top: 3px;

}