/* register.css */

.register {
    text-align: center;
  }
  
  .reg-container {
    width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .data {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .reg-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .reg-inp {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .data1 {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .reg-btn {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px;
  }
  
  .reg-btn:hover {
    background-color: #0056b3;
  }
  .reg-sbmt{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
    padding: 10px 30px;

  }
  .reg-sbmt:hover{
    background-color: #0056b3;
  }