.main{
    background-color: white;
    display: flex;
}
.d1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: whitesmoke;
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border: 2px solid whitesmoke;
        margin: 5px;
        padding: 5px;
        width: 100%;
}
button{
    /* border: 2px solid whitesmoke; */
    border: 2px solid whitesmoke;
}
button:hover{
    background-color: skyblue;
}
/* --------------------body part---------------------------------------- */
.parent{
    background-color: white;
    display: flex;
    justify-content: center; 
    margin: 20px 0;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    border-top: 1px solid whitesmoke;
}
.child{
          background-color: white; 
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 5px;
          padding: 5px;
          border-bottom: 10px;
}
.child:hover{
  transform: scale(1.07);
  cursor: pointer;
}
/* ---------------------------slide show container----------------------------- */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* The dots/bullets/indicators */
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* -------------------------------------------top offers---------------------------------- */
  .topoffers{
    display: flex;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-bottom:30px solid whitesmoke ;
  }
  .offers{
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .offers:hover{
    transform: scale(1.07);
    cursor: pointer;
  }
  /* ----------------------------------- */
  .beauty{
    display: flex;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-bottom:30px solid whitesmoke ;
  }
  .dsam{
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .dsam:hover{
    transform: scale(1.07);
    cursor: pointer;
  }