.login{
    /* background-color: #98e5dd; */
    width: 100%;
    height: 100vh;
}
.log-main{
    display: flex;
    justify-content: center;
}
.log-main-one{
    background-color: white;
   margin-top: 110px;
   border: 6px solid rgb(243, 236, 224);
   height: 400px;
   margin-right: 40px;
   width: 350px;


}
.log-head{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: auto;
   
}
.log-head h4{
    border-bottom: 1px solid rgb(243, 236, 224);
    font-size: 24px;
    font-family: inherit;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.log-body{
    display: flex;
    justify-content: center;
}

.log-body-cntnt{
    padding: 6px;
    margin-top: 10px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(236, 234, 234);
}
.log-icon{
    height: 12px;
 }
 .log-body-cntnt input{
     border: none;
     margin-left: 3px;
    outline: none;

 }
 .log-frgt{
    margin-left: 140px;
 }
 .log-btn{
     border-radius: 5px;
     margin-top: 10px;
     height: 35px;
     width: 260px;
     border: 1px solid rgb(236, 234, 234);
     background-color : #562400;
     cursor: pointer;
 }
 .log-btn:hover{
    background-color: rgb(172, 170, 170);

 }
 .log-btn button{
    border: none;
    background: none;
    margin-left: 105px;
    margin-top: 8px;
    color: white;
}
.log-para{
    margin-top: 70px;
    margin-left: 20px;
}
.log-link{
    text-decoration: none;
}