
.one li {
    display: inline;
}

.nav {
    width: 100%;
    background-color: gray;
    height: 60px;

}

.header {
    display: inline;
    width: 100%;
    padding: 1px;
    background-color: white;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.one {
    display: inline;
}

/* ----------------------------------------------------------------- */

.body-main {
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 50px;
    border: none;
}

.card-body {
    float: left;
    width: 18%;
    padding: 50px 17px;
    text-align: center;
    border-radius: 0px 50px 50px 50px;
    min-height: 317px;
    margin: 0px 15px;
    box-shadow: 0px 0px 50px #0000003a;

}

.card-body p {
    font-weight: 600;
    font-family: "Poppins";
    font-size: 10px;
    /* line-height: 25px; */
}

.card-body img {
    width: 110px;
    margin-left: 12px;
    margin-top: 15px;
}

.card-body h2 {
    font-size: 15px;
}
h4{
    margin-right: 200px;
}

