/* register.css */

.register {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.reg-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg-container h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.data {
    margin-bottom: 15px;
}

.datas-data{
    display: flex;
}
.reg-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
    margin-right: 270px;
}

input[type="text"],
input[type="password"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
    height: 20px;
}

button.reg-sbmt {
    width: 100%;
    padding: 10px;
    background-color: #2c90dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.reg-sbmt:hover {
    background-color:  #4da2e4;
}

.error {
    color: red;
    margin-top: 5px;
}
.reg-btn{
   margin-top: 20px;
    background-color: #2c90dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
}
.reg-btn:hover{
    background-color:  #4da2e4;
}
/* view.css */

.view {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.view-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view-container h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.view-container p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555555;
}

.view-container p:last-child {
    margin-bottom: 0;
}

.loading {
    text-align: center;
    color: #555555;
}
