
.banner{
    background-image: url("https://img.freepik.com/free-photo/tasty-pizza-near-ingredients_23-2147772080.jpg?size=626&ext=jpg&ga=GA1.1.427278262.1707063140&semt=ais");
    width: 100%; 
    height:100vh;
    object-fit: contain;
    background-size: cover;
    color:  rgb(225, 175, 109);
    background-color: black;


}

  .banner-p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(220, 156, 72);
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head{
    font-size: 70px;
    letter-spacing: 3px;
    color:  rgb(220, 156, 72);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.head-sub{
    font-size: 70px;
    letter-spacing: 3px;
    color:  rgb(220, 156, 72);
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-para{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner-ptn{
  margin-left: 600px;
  height: 40px;
  width: 130px;
  background: none;
  border: 1px solid  rgb(220, 156, 72);
  border-radius: 25px;
  cursor: pointer;
}
.banner-ptn:hover{
    background-color:  rgb(220, 156, 72);
}
.banner-ptn-link{
  color: white;
  text-decoration: none;
}
.banner-ptn-link:hover{
  color: black;
}
@media (max-width: 567px) {
  
  .head-sub {
    visibility: hidden; 
  }
  .banner-para{
    visibility: hidden;
  }

  .banner-ptn {
    margin-right: 90px;
  }
  .nav-logo{
      position: fixed;
  }
}