.story{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.story-left{
    display: block;
    align-items: center;
    justify-content: center;
}

.story-head{
    color:  rgb(220, 156, 72);
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-main-head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
.story-p{
    color: white;
}
.stry-book{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.story-btn{
  height: 40px;
  width: 130px;
  background: none;
  border: 1px solid  rgb(220, 156, 72);
  border-radius: 25px;
  margin-left: 69px;
 cursor: pointer;
}
.story-btn:hover{
    background-color:  rgb(220, 156, 72);
}
.story-btn-link{
    text-decoration: none;
    color: white;
}
.story-btn-link:hover{
    color: black;
}
@media  (max-width:641px){
    .story-right{
        margin-right: 350px;
    }
}