.special{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.special-right{
    justify-content: flex-start;
    margin-left: 60px;
}
.special-sub-hd{
    color:  rgb(220, 156, 72);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}
.special-hd{
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
}
.special-p{
    color: white;
}
.dol{
    color: white;
}
.dol-sub{
    color: rgb(165, 165, 165);
    text-decoration: line-through;
}
.special-btn{
    height: 40px;
    width: 130px;
    background: none;
    border: 1px solid  rgb(220, 156, 72);
    border-radius: 25px;
}
.special-btn:hover{
    background-color:  rgb(220, 156, 72);
    color: black;

}
.special-btn-link{
    text-decoration: none;
    color: white;
}
.special-btn-link:hover{
    color: black;
}
@media (max-width:641px){
    .special-right{
        margin-right: 750px;
    }
    
}